<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="thercn.terminal"
	android:sharedUserId="thercn.debug"
    android:versionName="1.0.70"
    android:versionCode="71">

    <!-- 完全的网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- 读取存储卡中的内容 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- 修改或删除 SD 卡中的内容 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- ACCESS_SUPERUSER -->
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER"/>

    <!-- 防止手机休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.ACCESS_SUPERUSER"/>

    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <permission
        android:name="thercn.terminal.permission.RUN_SCRIPT"
        android:label="@string/perm_run_script"
        android:description="@string/permdesc_run_script"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="dangerous"/>

    <permission
        android:name="thercn.terminal.permission.APPEND_TO_PATH"
        android:label="@string/perm_append_to_path"
        android:description="@string/permdesc_append_to_path"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="dangerous"/>

    <permission
        android:name="thercn.terminal.permission.PREPEND_TO_PATH"
        android:label="@string/perm_prepend_to_path"
        android:description="@string/permdesc_prepend_to_path"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="dangerous"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
		android:theme="@style/AppTheme">
   <!--   android:theme="@style/AppTheme"  -->
        <activity
            android:name="TerminalActivity"
            android:launchMode="singleTask"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER"/>

            </intent-filter>

        </activity>
<!--
        <activity-alias
            android:name="TermInternal"
            android:targetActivity="Term"
            android:exported="false">

            <intent-filter>

                <action android:name="thercn.terminal.private.OPEN_NEW_WINDOW"/>

                <category android:name="android.intent.category.DEFAULT"/>

            </intent-filter>

            <intent-filter>

                <action android:name="thercn.terminal.private.SWITCH_WINDOW"/>

                <category android:name="android.intent.category.DEFAULT"/>

            </intent-filter>

        </activity-alias>
-->
        <activity
            android:name="RemoteInterface"
            android:excludeFromRecents="true">

            <intent-filter>

                <action android:name="thercn.terminal.OPEN_NEW_WINDOW"/>

                <category android:name="android.intent.category.DEFAULT"/>

            </intent-filter>

        </activity>
<!--
        <activity-alias
            android:name="TermHere"
            android:label="@string/activity_term_here_title"
            android:targetActivity="RemoteInterface"
            android:exported="true">

            <intent-filter>

                <action android:name="android.intent.action.SEND"/>

                <data android:mimeType="*/*"/>

                <category android:name="android.intent.category.DEFAULT"/>

            </intent-filter>

        </activity-alias>
-->
        <activity
            android:name="RunScript"
            android:excludeFromRecents="true"
            android:permission="thercn.terminal.permission.RUN_SCRIPT">

            <intent-filter>

                <action android:name="thercn.terminal.RUN_SCRIPT"/>

                <category android:name="android.intent.category.DEFAULT"/>

            </intent-filter>

        </activity>

        <activity
            android:name="RunShortcut"
            android:excludeFromRecents="true">

            <intent-filter>

                <action android:name="thercn.terminal.RUN_SHORTCUT"/>

                <category android:name="android.intent.category.DEFAULT"/>

            </intent-filter>

        </activity>

        <activity
            android:name="TermPreferences"
            android:label="@string/preferences"/>

        <activity
            android:name="WindowList"
            android:label="@string/window_list"/>

        <service android:name="TermService">

            <intent-filter>

                <action android:name="thercn.terminal.action.START_TERM.v1"/>

                <category android:name="android.intent.category.DEFAULT"/>

            </intent-filter>

        </service>

        <activity
            android:label="@string/activity_shortcut_create"
            android:name="thercn.terminal.shortcuts.AddShortcut"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboard|keyboardHidden">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

            </intent-filter>

            <intent-filter>

                <action android:name="android.intent.action.CREATE_SHORTCUT"/>

            </intent-filter>

            <intent-filter>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="text/*"/>

            </intent-filter>

        </activity>

        <activity
            android:name="thercn.terminal.shortcuts.FSNavigator"
            android:label="@string/addshortcut_button_find_command"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true">

            <intent-filter>

                <action android:name="android.intent.action.PICK"/>

                <category android:name="android.intent.category.DEFAULT"/>

            </intent-filter>

            <intent-filter>

                <action android:name="android.intent.action.GET_CONTENT"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <category android:name="android.intent.category.OPENABLE"/>

                <data android:mimeType="*/*"/>

            </intent-filter>

        </activity>

        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true">

        </meta-data>

        <activity android:name=".FileManager.FileManagerActivity">
			<intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>
		</activity>
    </application>

</manifest>
